.navbar{

    border-bottom: 1px solid #EAEAEA;
    border-radius: 0;

}
.menu{
    height:100px;
    background:white;
    margin:20px 35px 10px 35px;
    padding:20px 30px;
}
.navbar-collapse .navbar-nav.navbar-right:last-child > .dropdown:last-child > a {
    border-radius: 0;
}
.nav .dropdown-menu{
    border:1px solid #d7d7d7
}
body, #content-container{
	background-color: #f1f2e2;
}

#content-container{
    margin-top: 15px;
}

