.navbar{
    border-radius: 0;
    background-color:white;
    border-bottom: 1px solid #dfdfdf;
    top:-74px;
    position: fixed;

    -webkit-transition: all 0.2s;
    width: 100%;
    z-index: 9999;
}
.navbar-default{
    background-color:white;
}
.navbar-default .navbar-brand{
    height:42px;
    padding: 11px 21px;
    font-size: 20px;
    font-weight:100;
}
.navbar-nav > li > a {
    padding: 9px 21px;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    font-weight:100;
}

.navbar-inverse .navbar-nav > .open > .dropdown-menu{
    background-color:white!important;
    color:black;
}
.navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a{
    color:black;
}
.navbar-collapse .navbar-nav.navbar-right:last-child > .dropdown:last-child > a {
    border-radius: 0;
}

.bg-pattern{
    background-image: url('/static/image/bg.jpg');
    background-size: cover;
    width:100%;
    height:100%
}

body{
    background-color:#f3f3f3;
}

#main-news{
    max-width:800px;
    margin:auto;
}
.index-container{
    margin-top:40px;
}
.body-news-detail{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    margin-top: 20px;
    margin-bottom:20px;
    padding: 30px 45px 10px;
}

.grid-layout .well{
    margin-left:10px;margin-right:10px;background: #58D5B1;color:white;
}
a{
    color:black;
}

.like-btns span{
    margin-left:10px;
}