/* ========= grid layout =========*/
.grid-layout{
}
.main-pattern-bg{
    background-color: #3E4651;
    background-image: url(/static/image/pattern-1.png);
    background-repeat: repeat;
    background-position: left top;
}
.list-section{
    padding-top:50px;
    padding-bottom:20px;
    padding-left:10px;
    padding-right:10px;
}
.grid-stack-item-content a{
    color:black;
}
.grid-stack-item-content{
    color:black;
    background-color:white;
    text-align:center;
    border-radius: 5px;
    border-top: 3px solid #64DDBB;
    overflow-y: hidden!important;
}
.ico {
    position: absolute;
    z-index:999;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -webkit-transform: translate(0, 70px);
    -moz-transform: translate(0, 70px);
    -o-transform: translate(0, 70px);
    transform: translate(0, 70px);
}
.grid-stack-item:hover .ico{
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.ico i {
    color: #fff;
    font-size: 30px;
}
.grid-stack-item-content:hover{
    color:white;
    background-color: #64DDBB!important;
    transition: 250ms background-color;
}
.grid-stack-item-content:hover ~ .tail{
    border-top: 10px solid #64DDBB!important;
}
.grid-stack-item-content:hover a{
    color:white;
}

.tail{
    content:" ";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    position: absolute;
    bottom: -10px;
    right: 25%;
}
.cloud-selector{
    display:inline-block;

}
.cloud-selector div{
    position:relative;
    color:white;
    top: -40px;
    font-family: 'Hanna';
    cursor:pointer;
}

.cloud-selector i{
    cursor:pointer;
    transition: color 150ms ease-in;
}
.prog-select.active{
    color:rgb(255, 216, 16);
}
.neutral-select.active{
    color:#54ACD2;
}
.conserv-select.active{
    color:#FE8A71;
}
.fa-3{
    font-size:6em!important;
}
.cloud-select-panel{
    text-align:center;
    margin-top: 50px;
}
.grid-stack-item{
    color:black;
}
.grid-stack-item{

}
.grid-stack-item .box-4{
    font-size:250%;
    line-height:210px;
}
.grid-stack-item .box-3{
    font-size:250%;
    line-height:210px;
}
.grid-stack-item .box-2{
    font-size:200%;
    line-height:140px;
}
.grid-stack-item .box-1{
    font-size:100%;
    line-height:60px;
}


/* ============ word detail ============= */
.word-detail{
    max-width:1000px!important;
}
div.word-title{
    margin: 20px 10px 70px;
    color: white;
}
.word-title h1{
    font-size: 50px;
    font-weight:300;
}
.word-date{
    font-size:18px;
    color:gray;
}
.section{

}
.section hr{
    width: 100px;
}

.gradient-1{
    background-image: linear-gradient(110deg, #38b6b8 10%, #d155ff 90%), url("/static/image/diamond_upholstery.png");
}
.gradient-2{
    background-image: linear-gradient(110deg, #31c8b1 10%, #4ec7ff 90%), url("/static/image/diamond_upholstery.png");
}
.gradient-3{
    background-image: linear-gradient(110deg, #49c4a4 10%, #97b832 90%), url("/static/image/diamond_upholstery.png");
}

.news-title{
    height: 47px;
    font-size:14px;
}
.news-meta{
    font-size:12px;
    color:gray;
}
.news-info{
    background-color:white;
    padding:5px 10px;
}

.word-news{
    background: white;
    margin: 20px 0px;
}

.word-news:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    position: absolute;
    bottom: -10px;
    left: 55px;
}
.word-info{
    margin-top:10px;
}
.word-info .btn{
    padding: 6px 10px;
}
.word-news.prog{
    background-color:#f1c40f;
}
.news-btn{
    float:right;
    margin-left:10px;
    cursor:pointer;
}
.prog-news a{
    color: #C19207;
}
.conserv-news a{
    color:hsl(0, 78%, 57%);
}
.nav-tabs{
    margin-bottom:20px;
}
/* ============= chart ============= */
div.word-chart h3{
    font-size: 24px;
    text-align:center;
    margin-bottom:25px;
}
.word-chart .category{
    text-align:center;
}
ul{
    list-style-type: none;
}
.recent-words li{
    font-size: 16px;
}

.chartist-tooltip{
    position: absolute;
    display: inline-block;
    min-width: 5em;
    padding: .5em;
    background: #F4C63D;
    color: #453D3F;
    font-weight: 700;
    text-align: center;
    pointer-events: none;
    z-index: 1;
}
.chartist-tooltip:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: #F4C63D;
}

.ct-label {
    fill: black;
    color: #777777;
    font-size: 15px;
    line-height: 1;
}

.ct-series-a .ct-line {
    stroke: #E74C3C;
}

.ct-series-a .ct-point {
    stroke: #E74C3C;
}

.ct-series-b .ct-line {
    stroke: #F1C40F;
}

.ct-series-b .ct-point {
    stroke: #F1C40F;
}

.ct-series-c .ct-line {
    stroke: #2ECC71;
}

.ct-series-c .ct-point {
    stroke: #2ECC71;
}
.ct-series-d .ct-line {
    stroke: #3498DB;
}

.ct-series-d .ct-point {
    stroke: #3498DB;
}
.badge-all{
    background-color:#2ECC71;
}
.badge-conserv{
    background-color:#E74C3C;
}
.badge-prog{
    background-color:#F1C40F;
}
.badge-neutral{
    background-color:#2ECC71;
}
.alert-info a{
    color:#31708f;
}
.alert-success a{
    color:#3c763d;
}
.alert-warning a{
    color:#8a6d3b;
}
.side-menu{
    font-size:16px;
}
/* ============ recent word list =========== */
.recent-word-list{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #dfdfdf;
}
.recent-word-list ul{
    list-style-type: none;
    padding:0;
}
.recent-word-list li{
    background-color:white;
    min-height: 50px;
    padding:10px 20px;
    border-bottom:2px solid #A2A2A2;
}
.recent-word-list .badge{
    margin
    font-size:15px;
}

#disqus_thread{
    background-color:white;
}

