{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row body-news-detail">
        {% include 'mypage/mypage_menu.html' %}

        <!-- ========== right panel =========== -->
        <div class="col-md-9">
            <div class="row">
                <div class="ct-chart">

                </div>
            </div>
            <!-- ======== liked news list ========= -->
            <div class="row">
                {% for l in likes %}
                <div class="news-preview liked">
                    <a href="{% url 'news:news_detail' l.id %}">
                        <h3>{{ l.title }}</h3>
                    </a>

                    <p class="meta">
                        {{l.date|date:"Y년 M d일"}} <span class="badge">{{l.company.tend}}</span><span class="badge">{{l.company}}</span>
                        <span class="news-btn"><a href="{% url 'mypage:like_news_in_liked_page' l.id %}">{{l.likes.all.count}} <i class="fa fa-thumbs-up {% if user in l.likes.all %}text-primary{% endif %}"></i></a></span>
                    </p>

                </div>
                <hr>
                {% endfor %}
            </div>
            <!-- // ======== recommended news list ==== ===== -->
        </div>
    </div>
</div>
<script>
    liked_news_chart();
</script>
{% endblock %}