{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row body-news-detail">
        {% include 'mypage/mypage_menu.html' %}

        <div class="col-md-9" id="mypage-content">
            {% for n in news %}
            <div class="news-preview">
                <a href="{% url 'news:news_detail' n.id%}">
                    <h3>{{ n.title }}</h3>
                    <h5>{{ n.content|truncatechars:200 }}</h5>
                </a>

                <div class="meta">
                    {{n.date|date:"Y년 M d일"}} <span class="badge">{{n.company.tend}}</span><span class="badge">{{n.company}}</span>
                    <div class="pull-right">
                        <span><a href="{% url 'mypage:like_in_recommend_page' n.id %}">{{n.likes.all.count}} <i class="fa fa-thumbs-up {% if user in n.likes.all %}text-primary{% endif %}"></i></a></span>
                        <span><a href="{% url 'mypage:dislike_in_recommend_page' n.id %}">{{n.dislikes.all.count}} <i class="fa fa-thumbs-down {% if user in n.dislikes.all %}text-primary{% endif %}"></i></a></span>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}