<div class="tend">진보</div>
{% for n in prog_news %}
<div class="word-news prog-news">
    <div class="news-title"><a href="{{n.link}}">{{n.title|truncatechars:60}}</a></div>
    <div class="news-meta">
        <span>{{n.company}}#{{n.id}}</span>
        <span class="news-btn" onclick="dislike_news_prog({{word.id}}, {{n.id}})"  >{{n.dislikes}} <i class="fa fa-thumbs-down {% if request.user.%}"></i></span>
        <span class="news-btn" onclick="like_news_prog({{word.id}},{{n.id}})"  >{{n.likes}} <i class="fa fa-thumbs-up"></i></span>
    </div>
</div>

{% endfor %}