{% extends 'base.html' %}
{% block content %}

<div class="section hn word-title row gradient-1">
    <div class="word-date">{{word.date|date:"Y년 M d일"}}, {{word.freq}}번 등장</div>
    <h1>{{word.rank}}. {{word.value}} </h1>
    <div> </div>
</div>
<div class="section word-chart row">
    <h3 class="hn">최근 등장 횟수</h3>
    <div class="">
        <span class="badge badge-all">종합</span>
        <span class="badge badge-conserv">보수</span>
        <span class="badge badge-neutral">중립</span>
        <span class="badge badge-prog">진보</span>
    </div>
    <div class="ct-chart ct-major-eleventh"></div>
</div>

<div class="section news-section row">
    <div class="col-md-4 prog_news_list">
        {% include 'words/news_list_prog.html' %}
    </div>
    <div class="col-md-4 neutral_news_list ">
        {% include 'words/news_list_neutral.html' %}

    </div>
    <div class="col-md-4 conserv_news_list">
        {% include 'words/news_list_conserv.html' %}
    </div>
</div>
<div id="disqus_thread" class="section row">

</div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'newswords';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<script>
    make_chart('{{word.value}}');
</script>

{% endblock %}