{% extends 'base.html' %}
{% block content %}
<div class="container body-main ">
    <div class="grid-layout list-section row">
        <div class="well" style=""> {{date|date:"Y년 M d일"}} 오늘의 키워드입니다.</div>
        <div class="grid-stack grid-board ng">

        </div>

        <div class="cloud-select-panel">
            <div class="cloud-selector">
                <i class="fa fa-user fa-3 prog-select active"></i>
                <div>진보</div>
            </div>
            <div class="cloud-selector">
                <i class="fa fa-user fa-3 conserv-select active"></i>
                <div>보수</div>
            </div>

        </div>

    </div>
</div>
    <script>word_list()</script>
{% endblock %}