{% extends 'base.html' %}
{% block content %}

<div class="container index-container">
    <div id="main-news" class="owl-carousel">
        {% for n in news %}
        <div class="news-preview">
            <a href="#">
                <h3>{{ n.title }}</h3>
                <h5>{{ n.content|truncatechars:200}}</h5>
            </a>

            <p class="meta">{{n.date|date:"Y년 M d일"}} <span class="badge">{{n.company.tend}}</span><span class="badge">{{n.company}}</span></p>
            <div class="ctrl-panel">
                <span onclick="like_news({{n.id}})"><i class="fa fa-thumbs-up {% if user in n.likes.all %}text-primary{% endif %}"></i></span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}