<div class="menu nav navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand ">NewsWords</a>
	</div>
	<div class="collapse navbar-collapse navbar-right">
		<ul class="nav navbar-nav navbar-menu">
			<li><a href="{% url 'keyword:words_list'%}">뉴스 키워드</a></li>
			{% if user.is_authenticated %}
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/logout/">로그아웃</a></li>
					</ul>
				</li>

			{% else %}
				<li><a href="/login/">로그인</a></li>
			{% endif %}
			{% if request.user.is_authenticated and request.user.is_staff %}
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">관리자 메뉴 <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{% url 'news:delete_todaynews' %}">뉴스 삭제 <span class="badge">{{news_size}}</span></a></li>
						<li><a href="{% url 'news:crawl_news' %}">뉴스 수집 </a></li>
						<li><a href="{% url 'news:news_analyze' %}">뉴스 분석</a></li>
					</ul>
				</li>
			{% endif %}
		</ul>
	</div>
</div>


