<div class="nav navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">정치 한줄</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-menu">
                <li><a href="{% url 'keyword:words_list'%}">오늘의 키워드</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'mypage:recommend_news'%}">{{user.username}}</a></li>
                    <li><a href="/logout/">로그아웃</a></li>
                {% else %}
                    <li><a href="/login/">로그인</a></li>
                    <li><a href="/register/">회원 가입</a></li>
                {% endif %}
                {% if request.user.is_authenticated and request.user.is_staff %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">관리자 메뉴 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li id="collect_news"><a href="{% url 'news:crawl_news' %}">뉴스 수집 </a></li>
                            <li id="analyze_news"><a href="{% url 'news:news_analyze' %}">뉴스 분석</a></li>
                            <li><a href="{% url 'news:delete_todaynews' %}">뉴스 삭제 <span class="badge">{{news_size}}</span></a></li>
                            <li><a href="{% url 'keyword:delete_todaywords' %}">단어 삭제 <span class="badge">{{words_size}}</span></a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
